.header {
  font-family: "Dancing Script", cursive;
}
.nav-links a {
  text-decoration: none;
  color: white;
  padding: 15px;
}
.main-content {
  text-align: center;
}
.main-container {
  background-color: black;
}
